.signup-wrapper {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 10px; */
  background: #f9fafb;
  margin-left: -20%;
  margin-top: -60px;
}


.signup-container {
  width: 100%;
  max-width: 450px;
  height: 90vh;
  min-height: 80vh;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  margin: 0;
}


.login-box h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #666;
}


.login-form {
  margin-top: 25px;
}

.form-group {
  text-align: left;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 0px;
  color: #333;
}

.form-group input {
  width: 90%;
  padding: 12px 14px;
  border-radius: 30px;
  border: 1px solid #c7d2fe;
  outline: none;
  font-size: 15px;
}

.form-group input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99,102,241,0.3);
}


.error {
  color: #e11d48;
  font-size: 13px;
  margin: 6px 0;
}


.continue-btn {
  width: 97%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  background: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.primary-btn:hover {
  opacity: 0.89;
}


.divider {
  position: relative;
  margin: 25px 0;
  text-align: center;
}

.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

.divider span {
  position: relative;
  background: #fff;
  padding: 0 10px;
  color: #666;
  font-size: 14px;
}


.social-buttons button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 30px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-buttons button:hover {
  background: #f3f4f6;
}


.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  color: #2563eb;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

#link {
    color: #000;
    text-decoration: none;
    border: 1px solid black;
    padding: 4px 3px;
    border-radius: 5px;
}

#link:hover {
    background-color: #000;
    color: white;
}
